/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
footer p {
	text-align: center;
}
td.title {
	font-size: 18px;
	font-weight: bold;
}
table td.link, table td.date {
	text-align: right;
}
table.table.table-bordered {
	margin-bottom: 15px;
}
table tr td div.edit {
	font: 14px none;
}
div.span9 .alert-message {
	position: fixed;
	font: 18px bold;
	top: 50%;
	left: 20%;
	width: 60%;
	height: 70px;
	text-align: center;
}
.carousel {
	position: static;
	width: 400px;
	height: 400px;
}
.span9 {
	width: 70%;
	padding-left: 15%;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}