/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
footer p {
	text-align: center;
}
td.title {
	font-size: 18px;
	font-weight: bold;
}
table td.link, table td.date {
	text-align: right;
}
table.table.table-bordered {
	margin-bottom: 15px;
}
table tr td div.edit {
	font: 14px none;
}
div.span10 .alert-message {
	position: fixed;
	font: 22px bold;
	top: 50%;
	left: 30%;
	width: 40%;
	text-align: center;
}
.span10 {
	padding-left :25%;
}
.row-fluid .span9 {
	width: 60%;
}
tr img {
	width: 10%;
}
.carousel-caption h4 a, .carousel-caption h4 a:visited {
	text-decoration: none;
	color: #fff;
}
.carousel-caption h4 a:hover {
	text-decoration: underline;
	color: #fff;
}
div.edit a {
	padding-right: 10px;
}
div.search {
	float: right;
	height: 25px;
	margin-top: -10px;
}
div.search #search_body_contains {
	margin-top: 15px; 
}
.carousel {
	height: 250px;
}
.item img {
	height: 250px;
	width: 100%;
}
/*Footer in bottom page*/
html, body {
	height: 90%;
}
.container-fluid {
	min-height: 100%;
}
footer {
	padding-bottom: 15px;
}
#article_title {
	width: 50em;
}
#comment_content {
	width: 40em;
}